[user]
	email = simba.fs@gmail.com
	name = simba-fs
[alias]
	tree = log --graph --all --oneline --decorate --abbrev-commit
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
	pager = git-split-diffs --color | less -RFX
