[user]
	email = simba.fs@gmail.com
	name = SimbaFs
	signingkey = FB397B64177E7C696E4D707F2FAD69678674CF25
[alias]
	tree = log --graph --all --oneline --decorate --abbrev-commit
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[core]
	; pager = git-split-diffs --color | less -RFX
[cinnabar]
	version-check = 1673269543
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = true
[push]
	followTags = true
[merge]
	ff = false
[gpg]
	program = gpg2
